<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${element.getSection()}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background-color: darkslategrey; color: floralwhite;">


<form method="post" th:action="@{/modifier/addelement}" th:object="${element}">
    <div class="form-group">
        <label for="titreInput">Titre</label>
        <input type="text" th:field="*{titre}" class="form-control" id="titreInput" aria-describedby="titreHelp" placeholder="Entrer le titre">
    </div>
    <div class="form-group">
        <label for="debutInput">Date de début</label>
        <input type="text" th:field="*{datedebut}" class="form-control" id="debutInput" aria-describedby="debutHelp" placeholder="Entrer la date de début">
    </div>
    <div class="form-group">
        <label for="finInput">Date de fin</label>
        <input type="text" th:field="*{datefin}" class="form-control" id="finInput" aria-describedby="finHelp" placeholder="Entrer la date de fin">
    </div>
    <div class="form-group">
        <label for="EntrepriseInput">Nom de l'entreprise</label>
        <input type="text" th:field="*{entreprise}" class="form-control" id="entrepriseInput" aria-describedby="entrepriseHelp" placeholder="Entrer votre entreprise">
    </div>
    <div class="form-group">
        <label for="descriptionInput">Description du poste</label>
        <input type="text" th:field="*{description}" class="form-control" id="descriptionInput" aria-describedby="descriptionHelp" placeholder="Entrer la descritpion du poste">
    </div>


    <button name="saveButton" th:value="${element.getSection()}" type="submit" class="btn btn-primary">Ajouter</button>

</form>

<a href="/modifier" class="btn btn-primary float-right">Annuler</a>



</body>
</html>