<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" media="all"  th:href="@{style.css}" />

  <title>MonCV</title>


  <style type="text/css">

    @page{

      size: A3;
    }
    * { margin: 0; padding: 0; }
    body { font: 16px Helvetica, Sans-Serif; line-height: 24px;; }
    .clear { clear: both;
    size: A4 portrait}
    #page-wrap { width: 800px; margin: 40px auto 60px; }
    #pic { float: right; margin: -30px 0 0 0; }
    h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
    h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
    h2 span { margin-top: -30px; marg padding: 0 100px 50px 100px ; float: right; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
    p { margin: 0 0 16px 0; }
    a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
    h2 a {position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal;}
    script {position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal;}

    a:hover { border-bottom-style: solid; color: black; }
    ul { margin: 0 0 32px 17px; }
    #objective { width: 500px; float: left; }
    #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
    dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; border-right: 1px solid #999;  }
    dd { width: 600px; float: right; }
    dd.clear { float: none; margin: 0; height: 15px; }
  </style>
</head>

<body>



<div id="page-wrap">


    </br><h2>
    <div class="btn-group float-right m-3">



      <style>
        #preview{
          width: 200px;
          display: inline-block;
        }
        #preview img{
          width: 100%;
        }
      </style>

      <form action="my-script.php" enctype="multipart/form-data" method="post">
        <div><input type="file" onchange="handleFiles(files)" id="upload" multiple name="file"></div>
        <div><label for="upload"><span id="preview"></span></label></div>
        <br>
      </form>
      <script>
        function handleFiles(files) {
          var imageType = /^image\//;
          for (var i = 0; i < files.length; i++) {
            var file = files[i];
            if (!imageType.test(file.type)) {
              alert("veuillez sélectionner une image");
            }else{
              if(i == 0){
                preview.innerHTML = '';
              }
              var img = document.createElement("img");
              img.classList.add("obj");
              img.file = file;
              preview.appendChild(img);
              var reader = new FileReader();
              reader.onload = ( function(aImg) {
                return function(e) {
                  aImg.src = e.target.result;
                };
              })(img);

              reader.readAsDataURL(file);
            }

          }
        }
      </script>
    </div>
  </h2>


  <div id="contact-info" class="vcard">

    <!-- Microformats! -->

    <h1 class="fn" th:text="${profil.getFullname()}">NOM COMPLET</h1>

    <p><I>
      <B> Poste actuel: </B> <span class="tel" th:text="${profil.getPost()}"></span><br />
      <B> Numero de telephone: </B> <span class="tel" th:text="${profil.getNumber()}"></span><br />
      <B>Adresse: </B> <span class="adress" th:text="${profil.getAdresse()}"></span><br />
      <B>Email: </B> <span class="email" th:text="${profil.getMail()}"></span>
    </I></p>
  </div>


  <div class="clear"></div>

  <dl>
    <dd class="clear"></dd>

    <dt>Formations</dt>
    <dd>

      <div th:each="element : ${scolarite}">

        <h2 class="titre" th:text="|${element.getTitre()} - ${element.getEntreprise()}|"></h2>
        <h2><span th:text="|${element.getDatedebut()} - ${element.getDatefin()}|"></span></h2>
        <span th:text="${element.getDescription()}"></span></br>
       </div>

    </dd>

    <dd class="clear"></dd>

    <dt>Experiences</dt>
    <dd>

      <div th:each="element : ${experiences}">

        <h2 class="titre" th:text="|${element.getTitre()} - ${element.getEntreprise()}|"></h2>
        <h2><span th:text="|${element.getDatedebut()} - ${element.getDatefin()}|"></span></h2>
        <span th:text="${element.getDescription()}"></span>
        </br>
      </div>

    </dd>

    <dd class="clear"></dd>

    <dt>Compétences</dt>
    <dd>
      <div th:each="element : ${competences}">
        <ul>
        <li><h2 class="titre" th:text="${element.getTitre()}"></h2></li>
        <span th:text="${element.getDescription()}"></span>
        </ul>
      </div>
    </dd>

    <dd class="clear"></dd>



    <dt>Centres d'interêt</dt>
    <dd>
    <div th:each="element : ${centredinteret}">
   <ul>
     <li><h2 class="titre" th:text="${element.getTitre()}"></h2></li>
      <span th:text="${element.getDescription()}"></span>
   </ul>
    </div>
    </dd>


    <dd class="clear"></dd>


    <div class="btn-group float-right m-3">
      <a href="/password" class="btn btn-primary">Modifier</a>
      <a href="/pdf" class="btn btn-primary">Exporter en PDF</a>

    </div>



  </dl>


</div>

</body>
</html>