<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<header>
    <title>Modifie ton CV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</header>

<body >
<div class="container">


    <a href="/" class="btn btn-primary m-3">Afficher le CV</a>

    <div class="card w-75 m-3">
        <div class="card-header">
            Profil
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="${profil.getFullname()}"><strong></strong></h5>
            <p class="card-text" th:text="${profil.getNumber()}"><strong></strong></p>
            <a href="/modifier/profil" class="btn btn-primary float-right">Editer</a>

        </div>
    </div>



    <div class="card w-75 m-3">
        <div class="card-header">
            Formations
            <form th:action="@{/modifier/addelement}" method="get">
                <button name="addbutton1" th:value="Scolarite" class="btn btn-primary float-right" >Ajouter</button>
            </form>
        </div>

        <div class="card-body" th:each="element : ${scolarite}">

            <h5 class="card-title" th:text="${element.getTitre()}"><strong></strong></h5>
            <p class="card-text" th:text="${element.getDescription()}"><strong></strong></p>

            <form th:action="@{/modifier/element}" method="get">
                <button name="editButton" th:value="${element.getId()}" class="btn btn-primary float-right" >Editer</button>
            </form>

            <form th:action="@{/modifier/delete}" method="post">
                <button name="deleteButton" th:value="${element.getId()}" class="btn btn-primary float-right"  >Supprimer</button>
            </form>
        </div>
    </div>

    <div class="card w-75 m-3">
        <div class="card-header">
            Experience
            <form th:action="@{/modifier/addelement}" method="get">
                <button name="addbutton1" th:value="Experience" class="btn btn-primary float-right" >Ajouter</button>
            </form>        </div>

        <div class="card-body" th:each="element : ${experiences}">

            <h5 class="card-title" th:text="${element.getTitre()}"><strong></strong></h5>
            <p class="card-text" th:text="${element.getDescription()}"><strong></strong></p>

            <form th:action="@{/modifier/element}" method="get">
                <button name="editButton"  th:value="${element.getId()}" class="btn btn-primary float-right" >Editer</button>            </form>
        </form>
            <form th:action="@{/modifier/delete}" method="post">
                <button name="deleteButton" th:value="${element.getId()}" class="btn btn-primary float-right" >Supprimer</button>
            </form>
        </div>
    </div>





    <div class="card w-75 m-3">
        <div class="card-header">
           Compétences
            <form th:action="@{/modifier/addelement}" method="get">
                <button name="addbutton1" th:value="Competence" class="btn btn-primary float-right" >Ajouter</button>
            </form>        </div>

        <div class="card-body" th:each="element : ${competences}">

            <h5 class="card-title" th:text="${element.getTitre()}"><strong></strong></h5>
            <p class="card-text" th:text="${element.getDescription()}"><strong></strong></p>

            <form th:action="@{/modifier/element}" method="get">
                <button name="editButton" th:value="${element.getId()}" class="btn btn-primary float-right" >Editer</button>
            </form>

            <form th:action="@{/modifier/delete}" method="post">
                <button name="deleteButton" th:value="${element.getId()}" class="btn btn-primary float-right"  >Supprimer</button>
            </form>
        </div>
    </div>


    <div class="card w-75 m-3">
        <div class="card-header">
            Centre d'intérêts
            <form th:action="@{/modifier/addelement}" method="get">
                <button name="addbutton1" th:value="Centredinteret" class="btn btn-primary float-right" >Ajouter</button>
            </form>        </div>

        <div class="card-body" th:each="element : ${centredinteret}">

            <h5 class="card-title" th:text="${element.getTitre()}"><strong></strong></h5>
            <p class="card-text" th:text="${element.getDescription()}"><strong></strong></p>

            <form th:action="@{/modifier/element}" method="get">
                <button name="editButton" th:value="${element.getId()}" class="btn btn-primary float-right" >Editer</button>
            </form>

            <form th:action="@{/modifier/delete}" method="post">
                <button name="deleteButton" th:value="${element.getId()}" class="btn btn-primary float-right"  >Supprimer</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>