<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="Securité"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background-color: darkslategrey; color: floralwhite;">


<form method="post" th:action="@{/password}" th:object="${user}">
    <div class="form-group">
        <label for="mdpInput">Mode de passe</label>
        <input type="password" th:field="*{password}" class="form-control" id="mdpInput" aria-describedby="mdpHelp" placeholder="Entrer le mot de passe">
    </div>


    <button type="submit" class="btn btn-primary">Valider</button>

</form>

<a href="/" class="btn btn-primary float-right">Annuler</a>



</body>
</html>